$color-ldc-blue: #4ecdfa;

@media only screen {
	.column, .columns {
		position: relative;
		padding-left: 3.9375em;
		padding-right: 3.9375em;
		float: left;

	}	
}
@media only screen and (min-width: 366px) and (max-width: 461px) {
	img.logo {
		width: 32% !important;
	}
}

@media only screen and (min-width: 462px) and (max-width: 660px) {
	img.logo {
		width: 18% !important;
	}
}

@media only screen and (min-width: 661px) and (max-width: 940px) { 
	img.logo {
		width: 13% !important;
	}
}

@media only screen and (max-width: 940px) {

	nav.top-bar.expanded {
		.top-bar-section ul li > a {
			display: block;
			width: 100%;
			color: rgb(63, 39, 39);
			padding: 12px 0 12px 0;
			padding-left: 15px;
			font-size: 0.8125em;
			font-weight: bold;
			background: #FFFFFF;
		}
	}

	.top-bar-section {
		left: 0;
		position: relative;
		width: 100% !important;
		-webkit-transition: left 300ms ease-out;
		-moz-transition: left 300ms ease-out;
		transition: left 300ms ease-out;
		float: right;
	}

	.top-bar {
		overflow: hidden;
		line-height: 45px;
		position: relative;
		background: #FFF;
		margin-bottom: 0;
		padding: 0px !important;
	}

}

@media only screen and (min-width: 941px) {
	.top-bar-section li a:not(.button) {
		padding: 0 15px;
		line-height: 45px;
		color: #000;
		background: #FFF;
	}

}

@media only screen and (max-width: 1210px) { 

	nav.top-bar {
		height: 55px !important;
	}

	a.active {
		border: solid 0px black !important;
	}

	.top-bar.expanded .title-area {
		background: #FFF;
	}

	.top-bar .toggle-topbar.menu-icon {
		right: 15px;
		top: 50%;
		margin-top: -16px;
		padding-left: 40px;
		background: #FFF;
	}

	.top-bar .name h1 a {
		font-weight: bold;
		color: #999 !important;
		width: 70%;
		display: block;
		padding: 0 15px;
		border: 0px;
	}

	.top-bar.expanded {
		height: auto !important;
		background: transparent;
	}

}

@media only screen and (max-width: 1024px) {
	.view-banner-block- .views-field.views-field-body {
		top: 49%;
	}
}

@media only screen and (max-width: 429px) {
	.view-banner-block-.field-content.banner-content-title {
		font-size: 2px;
	}
}

@media only screen and (max-width: 860px) {
	.view-banner-block- .views-field.views-field-title {
		font-size: 2em;
	}

	.field-content.banner-slide-body p {
		font-size: 1.1em;
	}
}



@media only screen and (max-width: 640px) {
	.view-banner-block- .field-content.banner-content-title {
		position: absolute;
		top: 0%; 
		padding-left: 4.4%;
		padding-right: 4.4%;
	}

	.view-banner-block- .views-field.views-field-body {
		top: 25%;
	}
}

@media only screen and (max-width: 640px) {
	.view-banner-block- .views-field.views-field-body {
		top: 35%;
	}

		.view-banner-block- .views-field.views-field-title {
		font-size: 1.5em;
	}

	.field-content.banner-slide-body p {
		font-size: 0.9em;
	}
}







// Small screens
@media only screen { } /* Define mobile styles */

@media only screen and (max-width: 40em) { 
	p {
		font-size: 1rem !important;
	}

	.view {
		margin: 0px !important; 
	}

	.view.view-testimonials-block- {
		padding: 0px;
		margin: 0px !important;
	}

	.dev-by {
		padding: 1em 0em;
		text-align: center;
	}

	.rights-reserved {
		padding: 1em 0em;
		text-align: center;
	}

	.view.view-footer {
		padding: 0px;
	}

	.footer-weekday {
		padding: 1em 0em;
	}

	.footer-address {
		padding: 1em 0em;
		line-height: 1.5em;
	}

	.views-field.views-field-field-contact-number-footer {
		padding: 1em 0em;
	}

	.footer-email {
		padding: 1em 0em;
	}

	.services-block-row {
		padding: 1em 0em;
	}

	h1.field-content.about-title {
		text-align: center;
		font-size: 1.3em;
	}
} /* max-width 640px, mobile-only styles, use when QAing mobile issues */

// Medium screens
@media only screen and (min-width: 40.063em) { } /* min-width 641px, medium screens */

@media only screen and (min-width: 40.063em) and (max-width: 64em) { } /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */

// Large screens
@media only screen and (min-width: 64.063em) { } /* min-width 1025px, large screens */

@media only screen and (min-width: 64.063em) and (max-width: 90em) { } /* min-width 1025px and max-width 1440px, use when QAing large screen-only issues */

// XLarge screens
@media only screen and (min-width: 90.063em) { } /* min-width 1441px, xlarge screens */

@media only screen and (min-width: 90.063em) and (max-width: 120em) { } /* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */

// XXLarge screens
@media only screen and (min-width: 120.063em) { } /* min-width 1921px, xxlarge screens */